<div class="panel panel-primary">

	<div class="panel-heading">

		<h4>
		    <span class="glyphicon glyphicon-home"></span> &nbsp;&nbsp;
			Sede <%= sede %>    
			<small><%= ciudad %>  </small>
			<span class="label label-warning pull-right"><%= codigo %></span> 
		 </h4> 
	</div>


	<ul class="list-group">


		<li class="list-group-item">
			<div class="row">
				<div class="caja col-xs-6 ">
					<span class="glyphicon">256</span>
					<h6> miembros </h6>
				</div>
				<div class="caja col-xs-6 ">
					<span class="glyphicon">23</span>
					<h6> grupos </h6>
				</div>
				
				
			</div>
		</li>

		
	</ul>	

</div>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h4>Datos de Contacto</h4>
	</div>


	<ul class="list-group">
		<li class="list-group-item ">
			<span class="glyphicon glyphicon-map-marker naranja"></span> &nbsp;&nbsp;
			<%= address %> 		
		</li>

		<% if (tel){ %>

		<li class="list-group-item">
			<span class="glyphicon glyphicon-earphone naranja"></span> &nbsp;&nbsp;
			<%= tel %> 	
		</li>

		<% } %>

		<% if (web){ %>

		<li class="list-group-item">
			<span class="glyphicon glyphicon-link naranja"></span> &nbsp;&nbsp;
			<%= tel %> 	
		</li>

		<% } %>
	
	</ul>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Declaración de propósito</h4>
	</div>
	<ul class="list-group">
		<li class="list-group-item" >&laquo; <%= proposito %> &raquo;</li>
	</ul>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Declaración de propósito</h4>
	</div>
	<ul class="list-group">
		<li class="list-group-item" >&laquo; <%= proposito %> &raquo;</li>
	</ul>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Declaración de propósito</h4>
	</div>
	<ul class="list-group">
		<li class="list-group-item" >&laquo; <%= proposito %> &raquo;</li>
	</ul>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Declaración de propósito</h4>
	</div>
	<ul class="list-group">
		<li class="list-group-item" >&laquo; <%= proposito %> &raquo;</li>
	</ul>
</div>


