///////////////////// IMPORTS /////////////////////
@import "help"

html
body
	margin 0
	padding 0
	height 100%
	gradientLinear( top, #555555, 0%, #666666, 50% ) 

#wrapper
	position absolute
	left 10px
	top 10px
	right 10px
	bottom 10px
	gradientLinear( top, #222222, 0%, #333333, 50% )
	borderRadius 10px
	min-width 750px
	overflow hidden


#contenedor-mapa
	position absolute
	top 5px
	left 5px
	bottom 5px
	right 5px
	#map_canvas
		height 100%
#topbar
	position absolute
	top 10px
	left 80px
	right 50px
	height 40px
	z-index 10000

#sidebar-right
	position absolute
	right 50px
	top 70px
	z-index 10
	background red

.nacional-edit-view
	label
	legend
		color #fff
	
.transparente
	opacity .95
	