{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}

{% block css %}

    <link rel="stylesheet" href="{{STATIC_URL}}main/app/src/font-awesome/css/font-awesome.min.css">	

    <link rel="stylesheet" href="{{STATIC_URL}}main/app/src/leaflet/leaflet.css">
    <link rel="stylesheet" href="{{STATIC_URL}}main/app/src/leaflet/leaflet.label.css">
    <link rel="stylesheet" href="{{STATIC_URL}}main/app/src/leaflet/plugins/awesome-markers/leaflet.awesome-markers.css">

    <link rel="stylesheet" href="{{STATIC_URL}}main/app/css/main.css">
{% endblock css %}

{% block body %} 


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand">Alliance</a>

            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Regiones</a></li>
                    <li ><a href="#">About</a></li>
                    <li ><a href="#">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#perfil/{{iglesia.codigo}}" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            {{user}}  <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    Ambito - {{user.ambito|capfirst}}
                                </a>
                            </li>
                            <li><a href="#editar/{{ambito}}/{{user.username}}">Editar {{ user.username }}</a></li>
                            <li><a href="#">Debug {{ debug }}</a></li>
                        </ul>

                    </li>

                    <li> <a href="{% url "hacer_logout" %}"> Salir </a> </li>

                </ul>

            </div>
        </div>  <!-- end container navbar -->

    </div> <!-- end navbar -->

    <div id="contenedor-mapa">
        <div id="map_canvas">
                   
        </div>
    </div>   <!-- end contenedor-mapa -->


	<div class="contenido">

        
        <div id="content-left">
            
        </div>
       
    </div>  <!-- end contenido -->
   

    



<!-- </div> -->   <!-- end wrapper -->

<input id="ambito" type='hidden'  value='{{user.ambito}}' />

{% endblock body %}



{% block script %} 
	<!--<script data-main="{{STATIC_URL}}main/app/js/config" src="{{STATIC_URL}}main/app/js/libs/require.js"></script>-->

	<script src='{{STATIC_URL}}main/app/js/libs/require/require.js'></script>

    {% if debug %}
	<script>
            require(["{{STATIC_URL}}main/app/js/config.js"]);
    </script>
    {% else %}
    <script>
        require.config({
            urlArgs: "bust=v20",
            paths: {
                "main": "{{STATIC_URL}}main/app/js/main-built"
            }
        });
        require(["main"])
    </script>
    {% endif %}

    

{% endblock script%}