{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{STATIC_URL}}main/app/css/main.css">
    <link rel="stylesheet" href="{{STATIC_URL}}main/app/src/leaflet/leaflet.css">
{% endblock css %}

{% block body %} 

<div id="wrapper">

	<div id="contenedor-mapa">
		<div id="map_canvas">
                   
        </div>

	</div>




	<div id="topbar">

        <div class="navbar navbar-inverse" role="navigation">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand">Alliance</a>

            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li ><a href="#">About</a></li>
                    <li ><a href="#">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profie  <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    Ambito - {{user.ambito|capfirst}}
                                </a>
                            </li>
                            <li><a href="#editar/{{ambito}}/{{user.username}}">Editar {{ user.username }}</a></li>
                            <li><a href="#">Debug {{ debug }}</a></li>
                        </ul>

                    </li>

                    <li> <a href="{% url "hacer_logout" %}"> Salir </a> </li>

                </ul>

            </div>

        </div>
                

    </div> <!-- end topbar -->

    <div id="sidebar-right" style="width: 35%; height: 45%;">

        <!-- {{msg}}
        
        
        {% if user.ambito == 'local' %}   
        
        <div class='hero-unit'>
            <h1>{{iglesia}}</h1>
            <h3>{{ iglesia.user}}</h3>
        
        </div>
        
        <form class="form-horizontal" action="." method="POST">
            {% csrf_token %}
            {{formUsuario.as_p}}
        </form>
        
        {% endif %} -->


    </div>

</div><!-- end wrapper -->

<input id="ambito" type='hidden'  value='{{user.ambito}}' />

{% endblock body %}



{% block script %} 
	<!--<script data-main="{{STATIC_URL}}main/app/js/config" src="{{STATIC_URL}}main/app/js/libs/require.js"></script>-->

	<script src='{{STATIC_URL}}main/app/js/libs/require/require.js'></script>

    {% if debug %}
	<script>
            require(["{{STATIC_URL}}main/app/js/config.js"]);
    </script>
    {% else %}
    <script>
        require.config({
            urlArgs: "bust=v19",
            paths: {
                "main": "{{STATIC_URL}}main/app/js/main-built"
            }
        });
        require(["main"])
    </script>
    {% endif %}

    

{% endblock script%}